/* hide scrollbar from view port*/
body::-webkit-scrollbar {
  display: none;
}

.icon-add_user {
  background-image: url("../assets/add_user.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-back {
  background-image: url("../assets/back.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-bar_chart {
  background-image: url("../assets/bar_chart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-calendar {
  background-image: url("../assets/calendar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cancel3 {
  background-image: url("../assets/cancel3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cash {
  background-image: url("../assets/cash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cashier {
  background-image: url("../assets/cashier.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-close {
  background-image: url("../assets/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-code {
  background-image: url("../assets/code.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cog {
  background-image: url("../assets/cog.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-credit_card {
  background-image: url("../assets/credit_card.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-customer_ava {
  background-image: url("../assets/customer_ava.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-dashboard {
  background-image: url("../assets/dashboard.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-delete {
  background-image: url("../assets/delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-folder {
  background-image: url("../assets/folder.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-history {
  background-image: url("../assets/history.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-info-green {
  background-image: url("../assets/info-green.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-key_delete {
  background-image: url("../assets/key_delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-key_enter {
  background-image: url("../assets/key_enter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-key_shift {
  background-image: url("../assets/key_shift.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-keyboard {
  background-image: url("../assets/keyboard.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-liefer_packet {
  background-image: url("../assets/liefer_packet.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-menu {
  background-image: url("../assets/menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-merge {
  background-image: url("../assets/merge.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-month_report {
  background-image: url("../assets/month_report.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-open {
  background-image: url("../assets/open.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-print {
  background-image: url("../assets/print.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-print2 {
  background-image: url("../assets/print2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-printer_2 {
  background-image: url("../assets/printer_2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-redo {
  background-image: url("../assets/redo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-remove-square {
  background-image: url("../assets/remove-square.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-report2 {
  background-image: url("../assets/report2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-scanning_barcode {
  background-image: url("../assets/scanning_barcode.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-sort {
  background-image: url("../assets/sort.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-split {
  background-image: url("../assets/split.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-support {
  background-image: url("../assets/support.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-switch {
  background-image: url("../assets/switch.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-trash {
  background-image: url("../assets/trash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-hardware {
  background-image: url("../assets/hardware.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-move-down {
  background-image: url("../assets/move-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-move-up {
  background-image: url("../assets/move-up.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-arrow-up-down {
  background-image: url("../assets/arrow-up-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-arrow-down {
  background-image: url("../assets/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-arrow-up {
  background-image: url("../assets/arrow-up.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-note {
  background-image: url("../assets/note.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-person {
  background-image: url("../assets/person.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-phone2 {
  background-image: url("../assets/phone2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-place {
  background-image: url("../assets/place.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-zip-code {
  background-image: url("../assets/zip-code.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-delivery-truck {
  background-image: url("../assets/delivery-truck.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-menu2 {
  background-image: url("../assets/menu2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-reset {
  background-image: url("../assets/reset.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-setting-device {
  background-image: url("../assets/setting-device.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-setting-delivery {
  background-image: url("../assets/setting-delivery.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-setting-multiple {
  background-image: url("../assets/setting-multiple.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-fork {
  background-image: url("../assets/fork.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-screen {
  background-image: url("../assets/screen.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-screen_blue {
  background-image: url("../assets/screen_blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.icon-setting-device_white {
  background-image: url("../assets/setting-device_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-setting-delivery_white {
  background-image: url("../assets/setting-delivery_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-setting-multiple_white {
  background-image: url("../assets/setting-multiple_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-management {
  background-image: url("../assets/management.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-management_white {
  background-image: url("../assets/management_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-version_control {
  background-image: url("../assets/version_control.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-version_control_white {
  background-image: url("../assets/version_control_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-account-management {
  background-image: url("../assets/account-management.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-account-management_white {
  background-image: url("../assets/account-management_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-cog2 {
  background-image: url("../assets/cog2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-chain {
  background-image: url("../assets/chain.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-preview {
  background-image: url("../assets/preview.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-fork_knife_setting {
  background-image: url("../assets/fork_knife_setting.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-coupon {
  background-image: url("../assets/coupon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-coupon_white {
  background-image: url("../assets/coupon_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-company {
  background-image: url("../assets/company.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  fill: none !important;
}

.icon-phone_blue {
  background-image: url("../assets/phone_blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
