.active-selected {
  border: 2px solid #1271FF !important
}

.active-error {
  border: 2px solid darkred !important;
}

::v-deep .g-badge {
  background-color: #1271FF !important;
  width: 12px;
  min-width: 12px;
  left: 20px;
  top: 5px;

  .g-icon {
    font-size: 10px !important;
    font-weight: bold;
  }
}

.color {
  padding: 8px 8px 8px 13px;

  ::v-deep .g-row {
    margin-top: 20px;
  }
}

.color-select-active {
  border: 2px solid #1271FF;
}

.left-layout-overlay {
  .left-layout-overlay-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  background-color: #ffffff;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-fn-value {
  padding: 8px;
  display: flex;

  .bs-tf-wrapper {
    width: 100%;
    padding-right: 18px;
    margin: 0;

    ::v-deep .bs-tf-error-message {
      font-size: 65%;
    }
  }
}


.title {
  font-size: 13px;
  line-height: 16px;
}

.button-name {
  padding: 12px;

  ::v-deep .bs-tf-wrapper {
    margin: 0;
  }
}
